@charset "utf-8";

$grey-lighter: #98a4ad;
$grey-light: #7a8288;
$grey: #52575c;
$grey-dark: #3a3f44;
$grey-darker: #272b30;

$orange: #f89406;
$green: #62c462;
$blue: #5bc0de;
$red: #ee5f5b;

$body-background-color: $grey-darker;
$background: $grey-dark;
$footer-background-color: $background;
$button-background-color: $background;
$button-border-color: lighten($button-background-color, 15);

$title-color: #e1e1e1;
$subtitle-color: $grey-lighter;
$subtitle-strong-color: $grey-lighter;

$text: #e1e1e1;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$link: #9aedda;
$link-invert: $grey;
$link-hover: lighten($link, 5);
$link-focus: darken($link, 5);
$link-active: darken($link, 15);
$link-focus-border: darken($link, 5);
$link-active-border: $link-focus-border;
$link-visited: $green;

$button-color: #535151;

$navbar-base-color: #fafafa;

//$navbar-height: 4rem;
$navbar-background-color: $background;
$navbar-item-color: rgba($navbar-base-color, 0.5);
$navbar-item-hover-color: $navbar-base-color;
$navbar-item-active-color: $navbar-base-color;
$navbar-item-hover-background-color: darken($grey-dark, 5);
$navbar-item-active-background-color: darken($grey-dark, 5);
$navbar-dropdown-background-color: $background;
$navbar-dropdown-item-hover-color: $navbar-base-color;
$navbar-dropdown-item-active-color: $navbar-base-color;
$navbar-dropdown-item-hover-background-color: darken($grey-dark, 5);
$navbar-dropdown-item-active-background-color: darken($grey-dark, 5);

@import '~bulma/bulma.sass';
